<html lang="en">
  <head>
    <title>Message</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Error Message</h1>
    <main>
      <a href="/tasks" class="back-btn">Go back to tasks</a>

      <table class="errorMessage">
        <thead>
          <tr>
            <th>Error</th>
          </tr>
        </thead>
        <tbody>
          <tr class="task">
            <td><%= message %></td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
